
.container > h1 {
    color: blue;
}
    
.container >p> .alert {
    border-style: solid;
    border-width: 1px;
    border-color: grey;
}

.container >p> .stop {
    background-color: red;
}

.container >p> .go {
    background-color: green;
}

#special {
    background-color: yellow;
}

